DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
DJANGO_TIME_ZONE=Asia/Bishkek
DJANGO_ADMIN_USERNAME=admin
DJANGO_ADMIN_EMAIL=admin@example.com
DJANGO_ADMIN_PASSWORD=admin12345
API_URL=/api
DRF_THROTTLE_ANON_RATE=60/min
DRF_THROTTLE_USER_RATE=240/min
DRF_THROTTLE_LOGIN_RATE=5/min
DRF_THROTTLE_REGISTER_RATE=3/hour
DRF_THROTTLE_COMMENTS_RATE=10/min
DRF_THROTTLE_PASSWORD_RESET_RATE=5/hour
DRF_THROTTLE_EMAIL_CHANGE_RATE=5/hour
FRONTEND_URL=http://127.0.0.1:3000
PUBLIC_SITE_URL=http://127.0.0.1:3000
PASSWORD_RESET_TIMEOUT=3600
EMAIL_CONFIRMATION_TIMEOUT=86400
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=КиноОрдо <noreply@localhost>
